@model IEnumerable<Mini_Stack_Overflow.Models.Answer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Total Up Vote :@ViewData["TotaAnaswerslUp"]</h1>
<h1>Total Down Vote :@ViewData["TotalAnaswersDown"]</h1>
<h1>Total Anaswers :@ViewData["Anaswers"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                Answers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question.Tags)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.AnswerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnswerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
