@model IEnumerable<Mini_Stack_Overflow.Models.Answer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Anaswers</h5>
            <p>Total Anaswers :@ViewData["Anaswers"]</p>
            <p>Total Anaswers Up Vote :@ViewData["TotaAnaswerslUp"]</p>
            <p>Total Anaswers Down Vote :@ViewData["TotalAnaswersDown"]</p>
            <a href="~/Answers/Create" class="btn btn-primary">Anaswers</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                Answers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question.Tags)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.AnswerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnswerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
