@model IEnumerable<Mini_Stack_Overflow.Models.Question>

@{
    ViewData["Title"] = "Question View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Questions</h5>
            <hr />
            <p>Total Questions :@ViewData["Questions"] </p>
            <p>Total Questions Up Vote :@ViewData["TotalQuestionsUp"]</p>
            <p>Total Questions Down Vote :@ViewData["TotalQuestionsDown"]</p>
            <a href="~/Questions/Create" class="btn btn-primary">Go Questions</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
