@model IEnumerable<Mini_Stack_Overflow.Models.Question>

@{
    ViewData["Title"] = "Question View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Question</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h1>Total Up Vote :@ViewData["TotalQuestionsUp"]</h1>
<h1>Total Down Vote :@ViewData["TotalQuestionsDown"]</h1>
<h1>Total Questions :@ViewData["Questions"] </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
